*{margin: 1; padding: 0;}
* {
    box-sizing: border-box;
  }
@font-face {
    font-family: 'Hanalei_Fill';
    src: url(/Fuentes/HanaleiFill-Regular.ttf);
    font-weight: bold;
    font-style: bold;
}
.menu{
    width: 25%;
    float: left;
}
body{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0;
}


.contenedor{
    width: 100%;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
}
header{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.promocion img{
    width: 400px;
}
.cabezero{
    display: flex;
}
.promocion img{
    width: 400px;
}
.logo{
    height: auto;
    width: 230px;
}
.titulo{
    font-size:50px;
    color: rgb(255, 255, 255);
    font-family: 'Hanalei_Fill';
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
}
header .icon-cart{
    position: relative;
}
header .icon-cart span{
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    right: -10%;
}
.icon-cart img
{
    width: 50px;
}
.tipo{
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
    border-bottom: 4px solid white;
}
nav{
    background-color: black;
    border-bottom: 3px solid rgb(255, 255, 255);
    font-family: 'Hanalei_Fill';
    display: flex;
    justify-content: space-between;
    position: fixed;
    width:100%;
}
.btn{
    padding: 15px 20px;
    color: white;
    display: inline-block;
}
.btn:hover{
    background-color: rgba(209, 206, 206, 0.356);
}
.ropa{
    color: white;
    text-decoration: none;
}
.calzado{
    color: white;
    text-decoration: none;
}
.album{
    color: white;
    text-decoration: none;
}
.contacto{
    color: white;
    text-decoration: none;
}


main{
    border: 1px solid gray;
    background-color: rgba(63, 63, 63, 0.37);
    margin: 30px;
    margin-top: 70px;
}
.pres{
    color: white;
    font-family: 'Hanalei_Fill';
    font-size: 30px;
    margin: 10px;
}
.prod{
    display: flex;
    margin: 10px;
}
.camis{
    width: 400px;
    margin: 10px;
    border: 1px solid white;
}
.tit{
    margin: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Hanalei_Fill';
}
.eliminar{
    color: white;
    font-size: 30px;
    font-family: 'Hanalei_Fill';
    margin-left: 0px;
    background-color: rgba(209, 206, 206, 0.356);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}
.link{
    color: white;
    text-decoration: none;
}
.compra{
    border: 1px solid white;
    display: flex;
}
.total{
    margin: 20px;
    color: white;
    font-family: 'Hanalei_Fill';
    font-size: 30px;
    padding: 10px 20px;
}
.pedido{
    color: white;
    font-family: 'Hanalei_Fill';
    font-size: 30px;
    margin: 20px;
    margin-left: 70px;
    background-color: rgba(209, 206, 206, 0.356);
    border-radius: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;

}
@media only screen and (max-width: 767px){
    main img{
        width: 100px;
    }
    main{
        font-size: 15px;
    }
    .prod{
        display: flex;
        flex-wrap: wrap;
    }
    .prod img{
        width: 80%;
    }
    .total{
        font-size: 20px;
    }
    .pedido{
        font-size: 20px;
    }
    .eliminar{
        font-size: 20px;
    }
}
