*{margin: 1; padding: 0;}
* {
    box-sizing: border-box;
  }
@font-face {
    font-family: 'Hanalei_Fill';
    src: url(/Fuentes/HanaleiFill-Regular.ttf);
    font-weight: bold;
    font-style: bold;
}
.menu{
    width: 25%;
    float: left;
}
body{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0;
}


.contenedor{
    width: 100%;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
}
header{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.promocion img{
    width: 400px;
}
.cabezero{
    display: flex;
}
.promocion img{
    width: 400px;
}
.logo{
    height: auto;
    width: 230px;
}
.titulo{
    font-size:50px;
    color: rgb(255, 255, 255);
    font-family: 'Hanalei_Fill';
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
}
header .icon-cart{
    position: relative;
}
header .icon-cart span{
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    right: -10%;
}
.icon-cart img
{
    width: 50px;
}
.tipo{
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
    border-bottom: 4px solid white;
}
nav{
    background-color: black;
    border-bottom: 3px solid rgb(255, 255, 255);
    font-family: 'Hanalei_Fill';
    display: flex;
    justify-content: space-between;
    position: fixed;
    width:100%;
}
.btn{
    padding: 15px 20px;
    color: white;
    display: inline-block;
}
.btn:hover{
    background-color: rgba(209, 206, 206, 0.356);
}
.ropa{
    color: white;
    text-decoration: none;
}
.calzado{
    color: white;
    text-decoration: none;
}
.album{
    color: white;
    text-decoration: none;
}
.contacto{
    color: white;
    text-decoration: none;
}
main{
    color: white;
    font-family: 'Hanalei_Fill';
    font-size: 25px;
    margin: 10px;
    background-color: rgba(63, 63, 63, 0.37);
    display: inline-block;
    width: 50%;
}
.pedido{
    border-bottom: 1px solid white;
}
.info{
    color: white;
    font-size: 25px;
    margin: 10px;
}
.datos{
    padding: 20px;
    margin: 10px;
    border: 2px solid white;
    font-family: 'Hanalei_Fill';
}
.datos p{
    font-size: 16px;
}
.datos a{
    color: white;
    text-decoration: none;
}
.datos a:hover{
    color: white;
    text-decoration: underline;
}
.controls{
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
}
.boton{
    width: 20%;
    color: white;
    background-color: gray;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-family: 'Hanalei_Fill';
    border-radius: 10px;
}
@media only screen and (max-width: 767px){
    main img{
        width: 100px;
    }
    main{
        width: 95%;
    }
    .boton{
        width: 30%;
    }
}

