* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanalei_Fill';
    src: url(/Fuentes/HanaleiFill-Regular.ttf);
    font-weight: bold;
    font-style: bold;
}
body {
    background-color: black;
    margin: auto;
}
.header {
    color: #ffffff;
    padding: 15px;
    font-family: 'Hanalei_Fill';
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.izq {
    display: flex;
}

.izq img {
    width: 200px;
    margin-left: 10px;
}

.promocion img {
    width: 400px;
}

.cactus{
    color: white;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    display: flex;
}
header .icon-cart {
    position: relative;
}

header .icon-cart span {
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    right: -10%;

}

.icon-cart img {
    width: 50px;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #6363635b;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #ff0000;
    color: black;
}
main{
    font-family: 'Hanalei_Fill';
    display: flex;
}
.section1{
    width: 25%;
    color: white;
    margin: 15px;
}
.section1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section1 li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #6363635b;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.section1 li:hover {
    background-color: #ff0000;
    color: black;
}
.link{
    text-decoration: none;
}
.section2{
    width: 50%;
    margin: 10px;
    color: white;
}
.cosos{
    display: flex;
    flex-wrap: wrap;
}
.art{
    width: 33%;
    text-align: center;
}
.art img{
    width: 100%;
}
.olive{
    position: relative;
    top: 10%;
}
.desc{
    position: relative;
    top: 16%;
}
.ofertas{
    display: flex;
}
.video{
    max-width: 30rem;
    margin: auto;
}
.video iframe{
    width: 95%;
    aspect-ratio: 16 / 9;
}
.section3{
    width: 25%;
    margin: 15px;
    background-color: #6363635b;
    color: white;
    text-align: center;
    font-size: 14px;
    height: auto;
}
.section3 img{
    width: 100%;
}
.añadir{
    width: 70%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    border: none;
    margin: 10px;
    font-size: 16px;
    font-family: 'Hanalei_Fill';
    border-radius: 10px;
}
.añadir:hover{
    background-color: #ff0000;
    color: black;
}

.footer {
    background-color: #636363;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    
}
@media only screen and (max-width: 767px){
    main{
        flex-wrap: wrap;
    }
    main img{
        width: 100px;
    }
    .section1{
        width: 100%;
    }
    .section2{
        width: 100%;
    }
    .section3{
        width: 100%;
    }
}