* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanalei_Fill';
    src: url(/Fuentes/HanaleiFill-Regular.ttf);
    font-weight: bold;
    font-style: bold;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}
.header::after{
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    color: white;
    font-family: 'Hanalei_Fill';
}

html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    background-color: black;
    margin: auto;
}

.header {
    color: #ffffff;
    padding: 15px;
    font-family: 'Hanalei_Fill';
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.izq {
    display: flex;
}

.izq img {
    width: 200px;
    margin-left: 10px;
}

.promocion img {
    width: 400px;
}

.cactus{
    color: white;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    display: flex;
}
header .icon-cart {
    position: relative;
}

header .icon-cart span {
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    right: -10%;

}

.icon-cart img {
    width: 50px;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #6363635b;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #ff0000;
    color: black;
}
.aside {
    background-color: #6363635b;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    background-color: #636363;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    
}
.añadir{
    width: 70%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    border: none;
    margin: 10px;
    font-size: 16px;
    font-family: 'Hanalei_Fill';
    border-radius: 10px;
}
.añadir:hover{
    background-color: #ff0000;
    color: black;
}
.aside img{
    width: 100%;
}
.video{
    max-width: 30rem;
    margin: auto;
}
.video iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.link{
    text-decoration: none;
}
@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}